# 2. Diskritisasi

### **Task**
1.   Lakukan proses diskritisasi dengan equal width dan equal frequency
2.   Lakukan proses diskritisasi dengan basis entropy

# **Bining data**

Binning adalah cara untuk mengelompokkan suatu data ke dalam jumlah yang lebih kecil pada *“bins”*. Contohnya : jika Anda memiliki data mengenai sekelompok orang yang memiliki berbagai macam usia, Anda mungkin ingin mengatur usia mereka kedalam interval usia yang lebih sedikit, kamu dapat menggunakan metode binning pada TIBCO Spotfire untuk mengecilkan spesifikasi usia pada anggota kelompok tersebut.

Terdapat juga opsi lain dalam mengelompokkan data-data yang sudah dikategorikan ke dalam *“bins”*. Metode ini sangat membantu ketika Anda memiliki banyak kategori data dalam kolom daripada yang seharusnya dibutuhkan, sehingga Anda dpat menyederhanakannya melalui ini.

In [1]:
# import library yang diperlukan
import pandas as pd
import numpy as np

In [7]:
#membaca dataset dari link csv
url = "https://vincentarelbundock.github.io/Rdatasets/csv/DAAG/kiwishade.csv"
dataset = pd.read_csv(url)

In [8]:
#menampilkan informasi pada data
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 48 entries, 0 to 47
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  48 non-null     int64
 1   yield       48 non-null     float64
 2   block       48 non-null     object
 3   shade       48 non-null     object
 4   plot        48 non-null     object
dtypes: float64(1), int64(1), object(3)
memory usage: 2.0+ KB

In [9]:
dataset.head(10)

   Unnamed: 0   yield  block shade        plot
0           1  101.11  north  none  north.none
1           2  108.02  north  none  north.none
2           3  106.67  north  none  north.none
3           4  100.30  north  none  north.none
4           5   92.64   west  none   west.none
5           6  103.49   west  none   west.none
6           7  100.68   west  none   west.none
7           8   93.42   west  none   west.none
8           9  100.31   east  none   east.none
9          10   97.00   east  none   east.none

## **1. Lakukan proses diskritisasi dengan equal width dan equal frequency**



### **1.1 Equal Width**

> Equal-width intervals adalah discretization yang membagi data numerik menjadi beberapa kelompok dengan lebar kelompok yang kurang lebih sama besar.

Tahap pertama membuat kategori

In [12]:
#Kategori
kategori = ['sedikit','sedang','banyak']

Kemudian menggunakan fungsi linspace() untuk membuat array yang berisi sejumlah angka dengan jarak yang sama.

In [13]:
#Menarik batas dengan 4 kunci
bins = np.linspace(min(dataset['yield']), max(dataset['yield']), 4)
bins

array([ 81.43      ,  90.57666667,  99.72333333, 108.87      ])

Selanjutnya menggunakan fungsi cut() untuk melakukan binning

In [14]:
dataset['ukuran_binned_equal'] = pd.cut(dataset['yield'], bins, labels=kategori, include_lowest=True)

In [15]:
dataset.head(10)

   Unnamed: 0   yield  block shade        plot ukuran_binned_equal
0           1  101.11  north  none  north.none              banyak
1           2  108.02  north  none  north.none              banyak
2           3  106.67  north  none  north.none              banyak
3           4  100.30  north  none  north.none              banyak
4           5   92.64   west  none   west.none              sedang
5           6  103.49   west  none   west.none              banyak
6           7  100.68   west  none   west.none              banyak
7           8   93.42   west  none   west.none              sedang
8           9  100.31   east  none   east.none              banyak
9          10   97.00   east  none   east.none              sedang